* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff;
  color: #000;
}
ul {
  list-style-type: none;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  width: 100%;
  height: auto;
}
.grid {
  display: grid;
  grid-template-columns: 1fr;
}
/*--------------------------------------------------------*/
/* mobile */

/* small tablets */
@media (min-width: 620px) {
  html {
    font-size: 16px;
  }
}
/* laptops */
@media (min-width: 960px) {
  html {
    font-size: 18px;
  }
}
/*d desktops */
@media (min-width: 1200px) {
  html {
    font-size: 20px;
  }
}
